body {
    margin: 0;
    padding: 0;
    position: relative;
    height: 100vh;
  }

  .container {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .box {
    position: absolute;
    border: 2px solid black;
    text-align: center;
    font-size: 24px;
    padding: 20px;
  }

  .box:nth-child(1) {
    background-color: rgb(255, 255, 255);
    top: 100px;
    left: 100px;
    height: 400px;
    width: 200px;
  }

  .box:nth-child(2) {
    background-color: rgb(255, 255, 255);
    top: 20px;
    right: 900px;
    height: 300px;
    width: 80px;
  }

  .box:nth-child(3) {
    background-color: rgb(255, 255, 255);
    bottom: 20px;
    left: 20px;
    height: 100px;
    width: 150px;
  }

  .box:nth-child(4) {
    background-color: rgb(255, 255, 255);
    top: 120px;
    left: 20px;
    height: 300px;
    width: 150px;
  }